
// Compatibility old browsers

$ensemble_compat: false !default;


// Compound size

// 1rem (16px)  default to document font-size
// 1em          1 : relative to parent font-size
// 1rem         1 : relative to document font-size

$ensemble_modal_compound_size: 1rem !default;
$ensemble_modal_compound_line-height: 1.5 !default;


// Modal box

$ensemble-modal_lightbox_color: #fff !default;
$ensemble-modal_lightbox_background: rgba(0, 0, 0, .83) !default;

$ensemble-modal_lightbox_zindex: 1001 !default;


// Button

$ensemble-modal_button_padding: 1rem !default;
$ensemble-modal_button_border: 0 !default;
$ensemble-modal_button_font-family: monospace !default; 
$ensemble-modal_button_font-weight: normal !default;
$ensemble-modal_button_size: 1.5rem !default;

$ensemble-modal_button_color: rgba(255, 255, 255, .92) !default;
$ensemble-modal_button_background: rgba(0, 0, 0, 0) !default;

$ensemble-modal_button_focus_color: rgba(255, 255, 255, 1) !default;
$ensemble-modal_button_focus_background: rgba(0, 0, 0, .7) !default;

$ensemble-modal_button_disabled_background: none !important !default;
$ensemble-modal_button_disabled_opacity: .1 !default;

$ensemble-modal_button_svg_fill: currentColor !default;
$ensemble-modal_button_svg_stroke: currentColor !default;
$ensemble-modal_button_svg_stroke-width: 2px !default;

$ensemble-modal_button_close_position_x: 0 !default;
$ensemble-modal_button_close_position_y: 0 !default;

$ensemble-modal_button_nav_position_x: 0 !default;
$ensemble-modal_button_nav_position_y: 42% !default;
$ensemble-modal_button_nav_captioned_position_y: 45% !default;

$ensemble-modal_button_nav_svg_width: 1.125rem !default;


// Image

$ensemble-modal_image_padding: 0 !default;
$ensemble-modal_image_prevent_dnd: true !default;


// Captions

$ensemble-modal_captions_height: 8.2vh !default;
$ensemble-modal_captions_padding: 3vh 1rem !default;
$ensemble-modal_captions_font-family: inherit !default;
$ensemble-modal_captions_font-size: .9rem !default;
$ensemble-modal_captions_font-weight: normal !default;
$ensemble-modal_captions_line-height: 1.5 !default;
$ensemble-modal_captions_text-align: center !default;
$ensemble-modal_captions_paragraph-margin: 0 0 1rem !default;

$ensemble-modal_captions_color: #fff !default;
$ensemble-modal_captions_background: rgba(0, 0, 0, .71) !default;


// Effects

$ensemble-modal_effects_box_transition: opacity 70ms linear !default;
$ensemble-modal_effects_button_transition: all 30ms linear !default;

$ensemble-modal_effects_object_transition: opacity 100ms ease !default;
$ensemble-modal_effects_captions_transition: opacity 200ms ease-out !default;

$ensemble-modal_effects_controls_autohide_visible_opacity: 1 !default;
$ensemble-modal_effects_controls_autohide_hidden_opacity: 0 !default;
$ensemble-modal_effects_controls_autohide_visible_animation-delay: 10s !default;
$ensemble-modal_effects_controls_autohide_hidden_animation-delay: 3s !default;
$ensemble-modal_effects_controls_autohide_animation-duration: 150ms !default;
$ensemble-modal_effects_controls_autohide_animation-timing-function: linear !default;
$ensemble-modal_effects_controls_autohide_animation-fill-mode: forwards !default;


// Responsive

// xs: 0       (extra-small 480)
// sm: 576px   (small 640)
// md: 768px   (medium 800)
// lg: 992px   (large 1024)
// xl: 1200px  (extra-large 1280)

// sm (small 640)
$ensemble-modal_sm__button_size: 2.25rem !default;

$ensemble-modal_sm__button_nav_svg_width: 1.75rem !default;

// lg (large 1024)
$ensemble-modal_lg__button_size: 2.625rem !default;

$ensemble-modal_lg__button_nav_svg_width: 2rem !default;

$ensemble-modal_lg__image_padding: 10vh !default;
$ensemble-modal_lg__captions_font-size: 1rem !default;

